<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{{url_for('recebedados')}}" method="post">
        Nome: <input type="text" name="nome"> <br>
        Sobrenome: <input type="text" name="sobrenome"> <br>
        Email: <input type="email" name="email"> <br>
        Data  de Nascimento: <input type="date" name="data_nasc"> <br>
        Escola: <br><input type="checkbox" name="escola" value="IFRN">IFRN<br>
        <input type="checkbox" name="escola" value="UFRN">UFRN<br>
        <input type="checkbox" name="escola" value="UERN">UERN<br>
        <input type="checkbox" name="escola" value="Outra">Outra<br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>