<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li>
            <a href="{{url_for('contato')}}">Contato</a>
        </li>
        <li>
            <a href="">Disciplina</a>
        </li>
        <li>
            <a href="">Currículo</a>
        </li>
        <li>
            <a href="{{url_for('perfil', perfil=perfil)}}">Perfil</a>
        </li>
    </ul>
</body>
</html>